<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../styles/root.css">
</head>

<body>
 
<!--------------------------------- Side Drawer Component --------------------------------->
<aside class="asideContainer">
<div class="DrawerMainContainer">  
  
  <div class="DrawerContainer">
    <div class="DrawerMailContainer">
      
      <div class="DrawerMailinfo">
        <h3 id="DrawerMail">Getting Started</h3>
      </div>
      
      <div class="DrawerMailOther">
      
        <div class="anchorDiv btn-hover-bg">
          <a href="./Installation.html" class="DrawerMail" target="iframe_mainContainer"> Installation </a>
        </div> 
      
        <!-- <div class="anchorDiv btn-hover-bg">
          <a href="#" class="DrawerMail" target="iframe_mainContainer"> Colors </a>
        </div>  -->

        <div class="anchorDiv btn-hover-bg">
          <a href="./Typography.html" class="DrawerMail" target="iframe_mainContainer"> Typography </a>
        </div> 

    </div>

    <hr />
    <div class="DrawerLabelsContainer">
    
      <div class="DrawerMailinfo">
        <h3 id="DrawerMail">Components</h3>
      </div>

      <div class="DrawerLabelsContainer">
         
        <div class="anchorDiv btn-hover-bg">
          <a href="./Avatar.html" class="DrawerMail" target="iframe_mainContainer"> Avatar </a>
        </div> 
        
        <div class="anchorDiv btn-hover-bg">
          <a href="./Alert.html" class="DrawerMail" target="iframe_mainContainer"> Alert </a>
        </div>    
  
        <div class="anchorDiv">
        <a href="./Badge.html" class="DrawerMail btn-hover-bg" target="iframe_mainContainer"> Badge </a>
        </div> 
  
        
        <div class="anchorDiv">
          <a href="./Button.html" class="DrawerMail btn-hover-bg" target="iframe_mainContainer"> Button </a>
        </div> 
   
  
      <div class="anchorDiv">
        <div><a href="./Cards.html" class="DrawerMail btn-hover-bg" target="iframe_mainContainer"> Card </a></div> 
      </div>  
  
      <div class="anchorDiv">
        <div><a href="./Image.html" class="DrawerMail btn-hover-bg" target="iframe_mainContainer"> Image </a></div>
        </div> 

      <div class="anchorDiv">
        <div><a href="./Input.html" class="DrawerMail btn-hover-bg" target="iframe_mainContainer"> Input </a></div>
      </div> 

       </div>

    </div>

    <hr />

      <div class="DrawerSettingsContainer">
        <div class="anchorDiv btn-hover-bg">
          <a href="#Setting" class="DrawerSetting"> Setting </a>
        </div>     
        <div class="anchorDiv btn-hover-bg">
          <a href="#Help" class="DrawerSetting"> Help & feedback </a>
        </div> 
    </div>

  </div>
  
</div>
</aside>

</body>
</html>