<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
  <!---------------------------------Badge Component --------------------------------->

<div class="BadgeMainContainer padding-MainContainer">

  <div class="BadgeContainerOne">
    <h1 class="h1Tag">Badge</h1>
    <p class="descriptionOne ">Badge generates a small Badge to the top-right of its child(ren).</p>
  </div>

  <div class="BadgeContainerTwo paddingOtherContainer">
    <h3 class="h3Tag">Basic Badge And Color Badge</h3>
    <p class="descriptionOne">Examples of Badges containing text, using primary and secondary colors. The Badge is applied to its children.</p>
    <div class="DOMContainer flex-row-center">
    
    <div class="BadgeDomMainContainer">
        <div class="BadgeDomContainer descriptionOne statusBadgeFlexRightTop">
        <i class="material-icons BadgeImage largeBadge icon-large">email</i>
          <i class="material-icons AvatarImage statusBadgeSize statusActive flex-row-center">visibility</i>
      </div>    
    </div>
      
    <div class="AvatarDomMainContainer">
      <div class="AvatarDomContainer descriptionOne statusBadgeFlexRightBottom ">
        <img class="AvatarImage smallAvatar box-shadow-round" src="../Images/kristy.png" alt="" sizes="" srcset="">
        <i class="material-icons AvatarImage statusBadgeSize statusAway flex-row-center">visibility_off</i>
    </div>
    </div>

    </div>

    <div class="DOMContainer flex-row-center doc-ContainerMain">
      <div class="ImageDomContainer TypoHtag AlertInfo ImageWarning flex-column-start box-shadow">
      <div class="doc-Container">
      <pre><code class="language-markup line-numbers">
      &lt;div class="BadgeDomMainContainer"&gt;
      &lt;div class="BadgeDomContainer descriptionOne statusBadgeFlexRightBottom "&gt;
      &lt;img class="BadgeImage smallBadge box-shadow-round" src="../Images/avataaars.svg" alt="" sizes="" srcset=""&gt;
      &lt;i class="material-icons BadgeImage statusBadgeSize statusAway flex-row-center">visibility_off&lt;/i>
      &lt;/div&gt;
      &lt;/div&gt;
      </code></pre>
      
      </div>
      </div>
      </div>
      
    
  </div>

  

  <div class="BadgeContainerTwo paddingOtherContainer">
    <h3 class="h3Tag">With Badge</h3>
    <p class="descriptionOne">Badge create Status of Badge</p>

    <div class="DOMContainer flex-row-center">
    
    <div class="AvatarDomMainContainer">
        <div class="AvatarDomContainer descriptionOne statusAvatarFlexRightTop">
        <img class="AvatarImage smallAvatar box-shadow-round" src="../Images/steve.jpg" alt="" sizes="" srcset="">
        <span class="w3-Avatar w3-green AvatarImage statusBadgeSize statusActive flex-row-center">1</span>
      </div>
    </div>
      
    <div class="AvatarDomMainContainer">
      <div class="AvatarDomContainer descriptionOne statusAvatarFlexRightTop ">
        <img class="AvatarImage smallAvatar box-shadow-round" src="../Images/kristy.png" alt="" sizes="" srcset="">
        <span class="w3-Avatar w3-blue AvatarImage statusBadgeSize statusActive flex-row-center">99+</span>
    </div>
    </div>

    <div class="AvatarDomMainContainer">
      <div class="AvatarDomContainer descriptionOne statusAvatarFlexRightTop">
        <img class="AvatarImage smallAvatar box-shadow-round" src="../Images/matthew.png" alt="" sizes="" srcset="">
        <span class="w3-Avatar w3-green AvatarImage statusBadgeSize statusActive flex-row-center">999+</span>
    </div>
    </div>

    <div class="AvatarDomMainContainer">
      <div class="AvatarDomContainer descriptionOne statusAvatarFlexRightTop">
      <img class="AvatarImage smallAvatar box-shadow-round" src="../Images/molly.png" alt="" sizes="" srcset="">
      <div class="material-icons AvatarImage statusBadgeSize statusAway flex-row-center" alt="" srcset="">CD</div>
    </div>
    </div>

    </div>
   
    <div class="DOMContainer flex-row-center doc-ContainerMain">
      <div class="ImageDomContainer TypoHtag AlertInfo ImageWarning flex-column-start box-shadow">
      <div class="doc-Container">
      <pre><code class="language-markup line-numbers">
      &lt;div class="AvatarDomMainContainer"&gt;
      &lt;div class="AvatarDomContainer descriptionOne statusAvatarFlexRightBottom "&gt;
      &lt;img class="AvatarImage smallAvatar box-shadow-round" src="../Images/avataaars.svg" alt="" sizes="" srcset=""&gt;
      &lt;div class="material-icons AvatarImage statusBadgeSize statusAway flex-row-center" alt="" srcset=""&gt;CD&lt;/div&gt;
      &lt;/div&gt;
      &lt;/div&gt;
      </code></pre>
      
      </div>
      </div>
      </div>

  </div>

</div>

<script src="../scripts/prism.js"></script>
<script src="../scripts/icons.js"></script>

</body>
</html>