<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
  <!---------------------------------Button Component --------------------------------->

  <div class="ButtonMainContainer padding-MainContainer">

    <div class="ButtonContainerOne">
      <h1 class="h1Tag">Button</h1>
      <p class="descriptionOne discriptionText">Buttons allow users to take actions, and make choices, with a single tap.</p>
    </div>
  
    <div class="ButtonContainerTwo paddingOtherContainer">
      <h3 class="h3Tag">Basic Buttons</h3>
      <p class="descriptionOne discriptionText">The <code>Button</code> comes with three variants: text (default), contained, and outlined.</p>
  
        <div class="DOMContainer flex-row-center">
          
        <div class="AlertDomMainContainer">
            <button type="button" class="defaultButton"> Default Text </button>
        </div>

        <div class="AlertDomMainContainer">
            <input type="button" class="ButtonDomContainer descriptionOne TextButton flex-evenly" value="Text" />
        </div>
          
      <div class="AlertDomMainContainer">
          <input type="button" class="ButtonDomContainer descriptionOne primary-button flex-evenly buttonHoverShadow" value="Contained" />
      </div>

        <div class="AlertDomMainContainer">
          <input type="button" class="ButtonDomContainer descriptionOne outline-button flex-evenly buttonHoverShadow" value="Outlined" />
      </div>

      <div class="AlertDomMainContainer">
        <input type="button" class="ButtonDomContainer descriptionOne primary-button disabledButton flex-evenly" value="Disabled" />
      </div>

      </div>

<div class="DOMContainer flex-row-center doc-ContainerMain">
<div class="ImageDomContainer TypoHtag AlertInfo ImageWarning flex-column-start box-shadow">
<div class="doc-Container">
<pre><code class="language-markup line-numbers">
&lt;div class="AlertDomMainContainer"&gt;
&lt;button type="button" class="defaultButton"&gt; Default Text &lt;/button&gt;
&lt;/div&gt;

&lt;div class="AlertDomMainContainer"&gt;
&lt;input type="button" class="ButtonDomContainer descriptionOne TextButton flex-evenly" value="Text" /&gt;
&lt;/div&gt;

&lt;div class="AlertDomMainContainer"&gt;
&lt;input type="button" class="ButtonDomContainer descriptionOne primary-button flex-evenly buttonHoverShadow" value="Contained" /&gt;
&lt;/div&gt;

&lt;div class="AlertDomMainContainer"&gt;
&lt;input type="button" class="ButtonDomContainer descriptionOne outline-button flex-evenly buttonHoverShadow" value="Outlined" /&gt;
&lt;/div&gt;

&lt;div class="AlertDomMainContainer"&gt;
&lt;input type="button" class="ButtonDomContainer descriptionOne primary-button disabledButton flex-evenly" value="Disabled" /&gt;
&lt;/div&gt;

</code></pre>

</div>
</div>
</div>
        
  </div>
  
    <div class="ButtonContainerTwo paddingOtherContainer">
      <h3 class="h3Tag">Other Types Of Buttons</h3>
      <p class="descriptionOne discriptionText">There are Other Types of Button</p>
  
      <div class="DOMContainer flex-row-center">
  
        <div class="AlertDomMainContainer">
          <a href="https://neog-lms.vercel.app/" class="linkButton"  target="_blank"><input type="button" class="ButtonDomContainer  descriptionOne AlertError flex-evenly buttonHoverShadow" value="Link" /></a>
      </div>
        
      <div class="AlertDomMainContainer">
        <div type="button" class="ButtonDomContainer descriptionOne AlertWarning flex-evenly buttonHoverShadow">
          <i class="material-icons flex-row-center">visibility_off</i>
          icons
        </div>
      </div>

        <div class="AlertDomMainContainer">
          <button type="button" class="ButtonDomContainer descriptionOne AlertInfo flex-evenly buttonHoverShadow buttonAnimation" value="Animation"><span>Animation</span></button>
      </div>

      <div class="AlertDomMainContainer">
        <input type="button" class="ButtonDomContainer descriptionOne AlertSuccess flex-evenly box-shadow" value="Floating" />
      </div>
      
    </div> 

<div class="DOMContainer flex-row-center doc-ContainerMain">
<div class="ImageDomContainer TypoHtag AlertInfo ImageWarning flex-column-start box-shadow">
<div class="doc-Container">
<pre><code class="language-markup line-numbers">
&lt;div class="AlertDomMainContainer"&gt;
&lt;a href="https://neog-lms.vercel.app/" class="linkButton"  target="_blank"&gt;&lt;input type="button" class="ButtonDomContainer  descriptionOne AlertError flex-evenly buttonHoverShadow" value="Link" /&gt;&lt;/a&gt;
&lt;/div&gt;

&lt;div class="AlertDomMainContainer"&gt;
&lt;div type="button" class="ButtonDomContainer descriptionOne AlertWarning flex-evenly buttonHoverShadow"&gt;
&lt;i class="material-icons flex-row-center"&gt;visibility_off&lt;/i&gt;
icons
&lt;/div&gt;
&lt;/div&gt;

&lt;div class="AlertDomMainContainer"&gt;
&lt;button type="button" class="ButtonDomContainer descriptionOne AlertInfo flex-evenly buttonHoverShadow buttonAnimation" value="Animation"&gt;&lt;span&gt;Animation&lt;/span&gt;&lt;/button&gt;
&lt;/div&gt;

&lt;div class="AlertDomMainContainer"&gt;
&lt;input type="button" class="ButtonDomContainer descriptionOne AlertSuccess flex-evenly box-shadow" value="Floating" /&gt;
&lt;/div&gt;


</code></pre>

</div>
</div>
</div>
      
  </div>
    
  
</div>

<script src="../scripts/prism.js"></script>
<script src="../scripts/icons.js"></script>

</body>
</html>