<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/root.css">  
</head>
<body>
  
  <!---------------------------------Color Component --------------------------------->

  <div class="ColorMainContainer padding-MainContainer">

    <div class="ColorContainerOne">
      <h1 class="h1Tag">Avatar</h1>
      <p class="descriptionOne ">An Color displays a short, important message in a way that attracts the user's attention without interrupting the user's task.</p>
    </div>
  
    <div class="ColorContainerTwo paddingOtherContainer">
      <h3 class="h3Tag">Basic Colors</h3>
      <p class="descriptionOne">The Color offers four severity levels that set a distinctive icon and color.</p>
  
      <div class="DOMContainer flex-column-center">
        <div class="ColorDomMainContainer">
          <div class="ColorDomContainer ColorError flex-evenly box-shadow">
            <i class="material-icons">info_outline</i>
          <p class="ColorDomText">This is an error Color — check it out!</p>
        </div>
      </div>
        
      
      </div>
  
    </div>
  
    <div class="ColorContainerTwo paddingOtherContainer">
      <h3 class="h3Tag">Description</h3>
      <p class="descriptionOne">You can use the Below Code to display a formatted title above the content.</p>
  
      <div class="DOMContainer flex-column-center">
  
      <div class="ColorDomMainContainer">
        <div class="ColorDomContainer ColorSuccess flex-evenly box-shadow">
          <i class="material-icons">check_circle</i>
            <h3></h3>
        <p class="ColorDomText">This is a success Color — check it out!</p>
      </div>
      </div>
      
      </div>
  
    </div>
  
    <div class="ColorContainerThree paddingOtherContainer">
      <h3 class="h3Tag">Actions</h3>
      <p class="descriptionOne">An Color can have an action, such as a close or undo button. It is rendered after the message, at the end of the Color.
      </p>
  
      <div class="DOMContainer flex-column-center">
        <div class="ColorDomMainContainer">
          <div class="ColorDomContainer ColorInfo flex-evenly box-shadow">
          <i class="material-icons">check_circle</i>
          <p class="ColorDomText">This is an info Color — check it out!</p>
          <input class="ColorDomButton" type="button">
          <i class="material-icons">clear</i>
        </input>
        </div>
        </div>
    
      </div>
  
      <div class="DOMContainer flex-row-center doc-ContainerMain">
        <div class="ImageDomContainer TypoHtag ColorInfo ImageWarning flex-column-start box-shadow">
        <div class="doc-Container">
          <pre><code class="language-markup line-numbers">
            &lt;h1&gt;Typography&lt;/h1&gt;
            &lt;h2&gt;Typography&lt;/h2&gt;
            &lt;h3&gt;Typography&lt;/h3&gt;
            &lt;h4&gt;Typography&lt;/h4&gt;
            &lt;h5&gt;Typography&lt;/h5&gt;
            &lt;h6&gt;Typography&lt;/h6&gt;
  
            &lt;h4 class="text-gray"&gt;lorem ipsum dolor sit amet&lt;/h4&gt;
            &lt;h4 class="text-center"&gt;lorem center&lt;/h4&gt;
  
            </code></pre>
     
        </div>
      </div>
    </div>

    </div>
  
  </div>

<script src="../scripts/prism.js"></script>
<script src="../scripts/icons.js"></script>


</body>
</html>