<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/root.css">
  </head>
<body>

  <footer class="FooterContainerMain">
    
    <div class="FooterContainerOne">Made with <i class="material-icons footerIcon">favorite</i>  by Mayank Kumar </div>
      <div class="FooterContainerTwo">
        <a class="FooterAnchorTag" href="">Home</a>
        <a class="FooterAnchorTag" href="../components/GettingStarted.html">Docs</a>
        <a class="FooterAnchorTag" href="examples">Examples</a>
      </div>
      
  </footer>

</body>
</html>