<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>

<div class="GettingStartedMainContainer">

  <!---------------------------------Header Component--------------------------------->

  <div class="GettingStartedHeader">
    <iframe class="GettingStartedIframeHeader col-12" src="../components/Header.html" name="iframe_Header" scrolling=no></iframe>
  </div>


  <!---------------------------------Main Component--------------------------------->

  <div class="GettingStartedMainComponents">
    
    <!---------------------------------Aside Component--------------------------------->
    <div class="GettingStartedAside ">      
      <iframe class="GettingStartedIframeAside col-2" src="../components/Aside.html" name="iframe_Aside"></iframe>
    </div>
  
    <div class="GettingStartedMain">    
      <iframe class="GettingStartedIframeMain col-10" src="../components/Installation.html" name="iframe_mainContainer" ></iframe>
    </div>

  </div>
  
  <!---------------------------------Footer Component--------------------------------->
  <div class="GettingStartedFooter">
    <iframe class="GettingStartedIframeFooter col-12" src="../components/Footer.html" name="iframe_Footer" scrolling=no></iframe>
  </div>





</div>


</body>
</html>