<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
  
<!---------------------------------Grid Component --------------------------------->

<div class="GridMainContainer padding-MainContainer">

  <div class="TypographyContainerOne">
    <h1 class="h1Tag">Grid</h1>
    <p class="descriptionOne discriptionText ">Grid is used for responsiveness of the site, in Grid we can move in Two direction .</p>
  </div>

  <div class="TypographyContainerTwo paddingOtherContainer">
    <h3 class="h3Tag">Grid Columns</h3>
    <p class="descriptionOne discriptionText">The grid-column CSS shorthand property specifies a grid item's size and location within a grid column by contributing a line, a span, or nothing (automatic) to its grid placement, thereby specifying the inline-start and inline-end edge of its grid area.</p>

    <div class="DOMContainer flex-row-center AlertSuccess">

      <div class="TypographyDomMainContainer">
        <div class="TypographyDomContainer TypoHtag TypographyError box-shadow">
          <div class="grid-container grid-cols-2">
            <div class="grid-item AlertInfo">1</div>
            <div class="grid-item AlertInfo">2</div>
            <div class="grid-item AlertInfo">3</div>
            <div class="grid-item AlertInfo">4</div>
            <div class="grid-item AlertInfo">5</div>
            <div class="grid-item AlertInfo">6</div>
          </div>
      </div>
    </div>
      
    <div class="TypographyDomMainContainer">
      <div class="TypographyDomContainer TypoHtag TypographyWarning box-shadow">
        <div class="grid-container grid-cols-3">
          <div class="grid-item AlertInfo">1</div>
          <div class="grid-item AlertInfo">2</div>
          <div class="grid-item AlertInfo">3</div>
          <div class="grid-item AlertInfo">4</div>
          <div class="grid-item AlertInfo">5</div>
          <div class="grid-item AlertInfo">6</div>
          <div class="grid-item AlertInfo">7</div>
          <div class="grid-item AlertInfo">8</div>
          <div class="grid-item AlertInfo">9</div>
        </div>
    </div>
    </div>

    </div>

    
<div class="DOMContainer flex-row-center doc-ContainerMain">
<div class="TypographyDomContainer TypoHtag AlertInfo TypographyWarning flex-column-start box-shadow">
<div class="doc-Container">
<pre><code class="language-markup line-numbers">
&lt;div class="grid-container grid-cols-2"&gt;
&lt;div class="grid-item AlertInfo"&gt;1&lt;/div&gt;
&lt;div class="grid-item AlertInfo"&gt;2&lt;/div&gt;
&lt;div class="grid-item AlertInfo"&gt;3&lt;/div&gt;
&lt;div class="grid-item AlertInfo"&gt;4&lt;/div&gt;
&lt;div class="grid-item AlertInfo"&gt;5&lt;/div&gt;
&lt;div class="grid-item AlertInfo"&gt;6&lt;/div&gt;
&lt;/div&gt;

&lt;div class="grid-container grid-cols-3"&gt;
&lt;/div&gt;
</code></pre>

</div>
</div>
</div>

</div>

  <div class="TypographyContainerTwo paddingOtherContainer">
    <h3 class="h3Tag">Grid Rows</h3>
    <p class="descriptionOne discriptionText">oThe grid-row CSS shorthand property specifies a grid item’s size and location within the grid row by contributing a line, a span, or nothing (automatic) to its grid placement, thereby specifying the inline-start and inline-end edge of its grid area.</p>

    <div class="DOMContainer flex-row-center AlertSuccess">

      <div class="TypographyDomMainContainer">
        <div class="TypographyDomContainer TypoHtag TypographyError flex-column-start box-shadow">
          <div class="grid-container grid-rows-2 ">
            <div class="grid-item AlertInfo">1</div>
            <div class="grid-item AlertInfo">2</div>
            <div class="grid-item AlertInfo">3</div>
            <div class="grid-item AlertInfo">4</div>
            <div class="grid-item AlertInfo">5</div>
            <div class="grid-item AlertInfo">6</div>
           
          </div>
      </div>
    </div>
      
    <div class="TypographyDomMainContainer AlertSuccess">
      <div class="TypographyDomContainer TypoHtag TypographyWarning flex-column-start box-shadow">
        <div class="grid-container grid-rows-3">
          <div class="grid-item AlertInfo">1</div>
          <div class="grid-item AlertInfo">2</div>
          <div class="grid-item AlertInfo">3</div>
          <div class="grid-item AlertInfo">4</div>
          <div class="grid-item AlertInfo">5</div>
          <div class="grid-item AlertInfo">6</div>
          <div class="grid-item AlertInfo">7</div>
          <div class="grid-item AlertInfo">8</div>
          <div class="grid-item AlertInfo">9</div>
        </div>
    </div>
    </div>

    </div>

    
<div class="DOMContainer flex-row-center doc-ContainerMain">
<div class="TypographyDomContainer TypoHtag AlertInfo TypographyWarning flex-column-start box-shadow">
<div class="doc-Container">
<pre><code class="language-markup line-numbers">
&lt;div class="grid-container grid-rows-2"&gt;
&lt;div class="grid-item AlertInfo"&gt;1&lt;/div&gt;
&lt;div class="grid-item AlertInfo"&gt;2&lt;/div&gt;
&lt;div class="grid-item AlertInfo"&gt;3&lt;/div&gt;
&lt;div class="grid-item AlertInfo"&gt;4&lt;/div&gt;
&lt;div class="grid-item AlertInfo"&gt;5&lt;/div&gt;
&lt;div class="grid-item AlertInfo"&gt;6&lt;/div&gt;
&lt;/div&gt;

&lt;div class="grid-container grid-rows-3"&gt;
&lt;/div&gt;
</code></pre>

</div>
</div>
</div>




</div>

  <script src="../scripts/Index.js"></script>
  <script src="../scripts/prism.js"></script>

</body>
</html>