<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/root.css">
  </head>
<body>
  <header class="headerContainerMain">
    <div class="headerContainerOne">Vision UI</div>
    <div class="headerContainerTwo">
      <a class="headerAnchorTag" href="../index.html"  target="iframe_Aside iframe_mainContainer"> Home </a> 
      <a class="headerAnchorTag" href="../components/GettingStarted.html">Docs</a>
      <a class="headerAnchorTag" href="#">Examples</a>

      <button class="ToggleButton"><i class="material-icons">brightness_high</i></button>
    </div>
  </header>   
</body>
</html>