<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
  
  <!---------------------------------Image Component --------------------------------->

  <div class="ImageMainContainer padding-MainContainer">

    <div class="ImageContainerOne">
      <h1 class="h1Tag">Images</h1>
      <p class="descriptionOne ">Images can improve the design and the appearance of a web page.</p>
    </div>
  
    <div class="ImageContainerTwo paddingOtherContainer">
      <h3 class="h3Tag">Responsive Image normal</h3>
      <p class="descriptionOne">Responsive images will automatically adjust to fit the size of the screen.

Resize the browser window to see the responsive effect</p>
  
      <div class="DOMContainer flex-evenly">

        <div class="ImageDomMainContainer">
          <div class="ImageDomContainer flex-evenly box-shadow">
            <img class="imageContainer imgTransition imgTransition:hover" src="https://wallpaperaccess.com/full/384363.jpg" alt="" srcset="">
        </div>
      </div>
        
      <div class="ImageDomMainContainer">
        <div class="ImageDomContainer ImageWarning flex-evenly box-shadow">
          <img class="imageContainer imgTransition imgTransition:hover" src="https://images4.alphacoders.com/936/936378.jpg" alt="" srcset="">
      </div>
      </div>
      </div>
  
<div class="DOMContainer flex-row-center doc-ContainerMain">
<div class="ImageDomContainer TypoHtag AlertInfo ImageWarning flex-column-start box-shadow">
<div class="doc-Container">
<pre><code class="language-markup line-numbers">
&lt;div class="ImageDomMainContainer"&gt;
&lt;div class="ImageDomContainer flex-evenly box-shadow"&gt;
&lt;img class="imageContainer imgTransition imgTransition:hover" src="https://wallpaperaccess.com/full/384363.jpg" alt="" srcset=""&gt;
&lt;/div&gt;
&lt;/div&gt;
</code></pre>

</div>
</div>
</div>

    </div>
  
    <div class="ImageContainerTwo paddingOtherContainer">
      <h3 class="h3Tag">Round Images</h3>
      <p class="descriptionOne">The Image offers four severity levels that set a distinctive icon and color.</p>
  
      <div class="DOMContainer flex-evenly">

        <div class="ImageDomMainContainer ">
          <div class="ImageDomContainer round-border flex-evenly box-shadow">
            <img class="imageContainer round-border imgTransition imgTransition:hover" src="https://wallpaperaccess.com/full/3407872.jpg" alt="" srcset="">
        </div>
      </div>
        
      <div class="ImageDomMainContainer ">
        <div class="ImageDomContainer round-border ImageWarning flex-evenly box-shadow">
          <img class="imageContainer round-border imgTransition imgTransition:hover" src="https://mcdn.wallpapersafari.com/medium/38/72/RjkgQU.jpg" alt="" srcset="">
      </div>
      </div>
  
      </div>
  
      <div class="DOMContainer flex-row-center doc-ContainerMain">
        <div class="ImageDomContainer TypoHtag AlertInfo ImageWarning flex-column-start box-shadow">
        <div class="doc-Container">
        <pre><code class="language-markup line-numbers">
        &lt;div class="ImageDomMainContainer"&gt;
        &lt;div class="ImageDomContainer round-border flex-evenly box-shadow"&gt;
        &lt;img class="imageContainer round-border imgTransition imgTransition:hover" src="https://wallpaperaccess.com/full/384363.jpg" alt="" srcset=""&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
        
        </div>
        </div>
        </div>

    </div>


  </div>

<script src="../scripts/prism.js"></script>
<script src="../scripts/icons.js"></script>

</body>
</html>