<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
  
  <!---------------------------------Installation Component --------------------------------->

  <div class="InstallationMainContainer padding-MainContainer">

    <div class="InstallationContainerOne">
      <h1 class="h1Tag">Installations</h1>
      <p class="descriptionOne discriptionText ">An Installation displays a short, important message in a way that attracts the user's attention without interrupting the user's task.</p>
    </div>
  
    <div class="InstallationContainerTwo paddingOtherContainer">
      <h3 class="h3Tag">Basic Installations</h3>
      <p class="descriptionOne discriptionText">The Installation offers four severity levels that set a distinctive icon and color.</p>
  
      <div class="DOMContainer flex-column-center">

        <div class="InstallationDomMainContainer ">
          <div class="InstallationDomContainer TypoHtag InstallationError flex-column-start box-shadow">
            <h4>To Install Vision UI into your project</h4>
            <h5>1. You can install by copy the CDN link into your index.html file or.</h5>
            <h5>2. You can install by copy the CDN link into your root directory.</h5>
        </div>
      </div>
        
  
      </div>
  
    </div>
<div class="DOMContainer flex-row-center doc-ContainerMain">
<div class="InstallationDomContainer TypoHtag AlertInfo InstallationWarning flex-column-start box-shadow">
<div class="doc-Container">
<pre><code class="language-markup line-numbers">

&lt;link rel="stylesheet" href="https://vision-ui-lib.netlify.app/styles/root.css"&gt;
</code></pre>

</div>
</div>
</div>

    
  </div>

<script src="../scripts/prism.js"></script>
<script src="../scripts/icons.js"></script>


</body>
</html>