<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
  
  <!---------------------------------Installation Component --------------------------------->

  <div class="InstallationMainContainer padding-MainContainer">

    <div class="InstallationContainerOne">
      <h1 class="h1Tag">Installations</h1>
      <p class="descriptionOne ">An Installation displays a short, important message in a way that attracts the user's attention without interrupting the user's task.</p>
    </div>
  
    <div class="InstallationContainerTwo paddingOtherContainer">
      <h3 class="h3Tag">Basic Installations</h3>
      <p class="descriptionOne">The Installation offers four severity levels that set a distinctive icon and color.</p>
  
      <div class="DOMContainer flex-column-center">

        <div class="InstallationDomMainContainer">
          <div class="InstallationDomContainer InstallationError flex-evenly box-shadow">
            <h1>This Page Will Coming soon </h1>
        </div>
      </div>
        
  
      </div>
  
    </div>
    <div class="DOMContainer flex-row-center doc-ContainerMain">
      <div class="InstallationDomContainer TypoHtag AlertInfo InstallationWarning flex-column-start box-shadow">
      <div class="doc-Container">
        <pre><code class="language-markup line-numbers">
          &lt;h1&gt;Installation&lt;/h1&gt;
          
          </code></pre>
   
      </div>
    </div>
  </div>

    
  </div>

<script src="../scripts/prism.js"></script>
<script src="../scripts/icons.js"></script>


</body>
</html>