<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
  
<!---------------------------------List Component --------------------------------->

<div class="ListsMainContainer padding-MainContainer">

  <div class="TypographyContainerOne">
    <h1 class="h1Tag">List</h1>
    <p class="descriptionOne discriptionText">
      lists allow web developers to group a set of related items in lists.
    </p>
  </div>

  <div class="TypographyContainerTwo paddingOtherContainer">
    <h3 class="h3Tag">Unordered and Ordered Lists</h3>
    <p class="descriptionOne discriptionText">An unordered and Ordered list starts with the &lt;ul&gt; and &lt;ol&gt; respectively tag. Each list item starts with the &lt;li&gt; tag.

      The list items will be marked with bullets and number by default respectively</p>

    <div class="DOMContainer flex-row-center">

      <div class="TypographyDomMainContainer">
        <div class="TypographyDomContainer TypoHtag TypographyError flex-row-start box-shadow">
          <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
          </ul>  
      </div>
    </div>

    <div class="TypographyDomMainContainer">
      <div class="TypographyDomContainer TypoHtag TypographyError flex-row-start box-shadow">
        <ol>
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
        </ol>  
    </div>
  </div>
  </div>
    
<div class="DOMContainer flex-row-center doc-ContainerMain">
<div class="TypographyDomContainer TypoHtag AlertInfo TypographyWarning flex-column-start box-shadow">
<div class="doc-Container">
<pre><code class="language-markup line-numbers">
&lt;ul&gt;
&lt;li&gt;Coffee&lt;/li&gt;
&lt;li&gt;Tea&lt;/li&gt;
&lt;li&gt;Milk&lt;/li&gt;
&lt;/ul&gt;

&lt;ol&gt;
&lt;li&gt;Coffee&lt;/li&gt;
&lt;li&gt;Tea&lt;/li&gt;
&lt;li&gt;Milk&lt;/li&gt;
&lt;/ol&gt;
</code></pre>
</div>
</div>
</div>

</div>


<div class="TypographyContainerTwo paddingOtherContainer">
  <h3 class="h3Tag">Stacked Lists</h3>
  <p class="descriptionOne discriptionText">An Stacked list are nested lists,it starts with the &lt;ul&gt; tag. Each list item starts with the &lt;li&gt; and &lt;li&gt; tag.

    The list items will be marked with bullets by default</p>

  <div class="DOMContainer flex-row-center">
  <div class="TypographyDomMainContainer">
    <div class="TypographyDomContainer add-list-padding TypoHtag TypographyWarning flex-column-start box-shadow">
      <ul>
        <li>Coffee</li>
        <li>Tea
          <ul>
            <li>Black tea</li>
            <li>Green tea</li>
          </ul>
        </li>
        <li>Milk</li>
      </ul>
  </div>
  </div>
  </div>

  
<div class="DOMContainer flex-row-center doc-ContainerMain">
<div class="TypographyDomContainer TypoHtag AlertInfo TypographyWarning flex-column-start box-shadow">
<div class="doc-Container">
<pre><code class="language-markup line-numbers">
&lt;ul&gt;
&lt;li&gt;Coffee&lt;/li&gt;
&lt;li&gt;Tea
&lt;ul&gt;
&lt;li&gt;Black tea&lt;/li&gt;
&lt;li&gt;Green tea&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;li&gt;Milk&lt;/li&gt;
&lt;/ul&gt;  
</code></pre>
</div>
</div>
</div>

</div>



</div>

  <script src="../scripts/Index.js"></script>
  <script src="../scripts/prism.js"></script>

</body>
</html>