<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>

<!---------------------------------Modal Component --------------------------------->

<div class="ModalMainContainer padding-MainContainer">

  <div class="TypographyContainerOne">
    <h1 class="h1Tag">Modal</h1>
  </div>

  <div class="TypographyContainerTwo paddingOtherContainer">
    <h3 class="h3Tag">Modal with close button</h3>
    <p class="descriptionOne discriptionText ">An Modal displays a short, important message in a way that attracts the user's attention without interrupting the user's task.</p>

    <div class="DOMContainer flex-row-center">

      <div class="TypographyDomMainContainer">
        <div class="TypographyDomContainer TypoHtag TypographyError flex-column-start box-shadow">
         
          <button id="myBtn">Open Modal</button>

            <div id="myModal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                <p>Some text in the Modal..</p>
              </div>
            </div>

      </div>
    </div>

    </div>

<div class="DOMContainer flex-row-center doc-ContainerMain">
<div class="TypographyDomContainer TypoHtag AlertInfo TypographyWarning flex-column-start box-shadow">
<div class="doc-Container">
<pre><code class="language-markup line-numbers">
&lt;button id="myBtn"&gt;Open Modal&lt;/button&gt;

&lt;div id="myModal" class="modal"&gt;
&lt;div class="modal-content"&gt;
&lt;span class="close"&gt;&times;&lt;/span&gt;
&lt;p&gt;Some text in the Modal..&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;

</code></pre>
</div>
</div>
</div>
</div>


</div>

  
  <script src="../scripts/modal.js" type="text/javascript"></script>
  <script src="../scripts/prism.js" type="text/javascript"></script>
</body>
</html>