<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
  
<!---------------------------------Rating Component --------------------------------->

<div class="TypographyMainContainer padding-MainContainer">

  <div class="TypographyContainerOne">
    <h1 class="h1Tag">Rating</h1>
    <p class="descriptionOne discriptionText ">
  </div>

  <div class="TypographyContainerTwo paddingOtherContainer">
    <h3 class="h3Tag">User Ratings</h3>
    <p class="descriptionOne discriptionText">User Ratings is provided to users so they can share their experience with the site or product they buy from the sites.</p>

    <div class="DOMContainer flex-row-center">

      <div class="TypographyDomMainContainer">
        <div class="TypographyDomContainer TypoHtag TypographyError flex-row-start box-shadow">
          <span class="fs-rem-3xl rating-one" >&#9733;</span>
          <span class="fs-rem-3xl rating-one" >&#9733;</span>
          <span class="fs-rem-3xl rating-one" >&#9733;</span>
          <span class="fs-rem-3xl" >&#9733;</span>
          <span class="fs-rem-3xl" >&#9733;</span>
      </div>
    </div>
      
    <div class="TypographyDomMainContainer">
      <div class="TypographyDomContainer TypoHtag TypographyWarning flex-column-start box-shadow">
        <ul class="ul-square">
          
          <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>


    </div>
    </div>

    </div>

    
<div class="DOMContainer flex-row-center doc-ContainerMain">
<div class="TypographyDomContainer TypoHtag AlertInfo TypographyWarning flex-column-start box-shadow">
<div class="doc-Container">
<pre><code class="language-markup line-numbers">
&lt;span class="fs-rem-3xl rating-one" &gt;&#9733;&lt;/span&gt;
&lt;span class="fs-rem-3xl rating-one" &gt;&#9733;&lt;/span&gt;
&lt;span class="fs-rem-3xl rating-one" &gt;&#9733;&lt;/span&gt;
&lt;span class="fs-rem-3xl" &gt;&#9733;&lt;/span&gt;
&lt;span class="fs-rem-3xl" &gt;&#9733;&lt;/span&gt;
</code></pre>
</div>
</div>
</div>

</div>


</div>

  <script src="../scripts/Index.js"></script>
  <script src="../scripts/prism.js"></script>

</body>
</html>