<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
  
<!---------------------------------Slider Component --------------------------------->

<div class="SliderMainContainer padding-MainContainer">

  <div class="TypographyContainerOne">
    <h1 class="h1Tag">Slider</h1>
    <p class="descriptionOne discriptionText ">
  </div>

  <div class="TypographyContainerTwo paddingOtherContainer">
    <h3 class="h3Tag">User Sliders</h3>
    <p class="descriptionOne discriptionText">User Sliders is provided to users so they can share their experience with the site or product they buy from the sites.</p>

    <div class="DOMContainer flex-row-center">

      <div class="TypographyDomMainContainer">
        <div class="TypographyDomContainer TypoHtag TypographyError flex-row-start box-shadow">
          <input type="range" name="" id="" min="0" max="100">
        </div>
    </div>
      
    <div class="TypographyDomMainContainer">
      <div class="TypographyDomContainer TypoHtag TypographyWarning flex-column-start box-shadow">
        <form>
          <div>
            <input id="rangeInput" type="range" min="0" max="200" oninput="amount.value=rangeInput.value" />
            <input id="amount" type="number" value="100" min="0" max="200" oninput="rangeInput.value=amount.value" />
          </div>
        </form>
    </div>
    </div>

    </div>

    
<div class="DOMContainer flex-row-center doc-ContainerMain">
<div class="TypographyDomContainer TypoHtag AlertInfo TypographyWarning flex-column-start box-shadow">
<div class="doc-Container">
<pre><code class="language-markup line-numbers">
&lt;input type="range" name="" id="" min="0" max="100"&gt;
</code></pre>
</div>
</div>
</div>

</div>


</div>

  <script src="../scripts/Index.js"></script>
  <script src="../scripts/prism.js"></script>

</body>
</html>