<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <link rel="stylesheet" href="../styles/root.css">
    <!-- <link rel="stylesheet" href="../styles/prism.css"> -->
  </head>
</head>
<body>

<!---------------------------------Toast Component --------------------------------->

<div class="ToastMainContainer padding-MainContainer">

  <div class="AlertContainerOne">
    <h1 class="h1Tag">Toast/Snackbar</h1>
    
      <p class="descriptionOne discriptionText ">Toast are often used as tooltips/popups to show a message at the bottom of the screen.</p>
  </div>


  <div class="AlertContainerTwo paddingOtherContainer">
    
    <h3 class="h3Tag">Basic alerts</h3>
    <p class="descriptionOne discriptionText">The alert offers four severity levels that set a distinctive icon and color.</p>

    <div class="DOMContainer flex-column-center">
    <div class="AlertDomMainContainer">
      <div class="AlertDomContainer descriptionOne AlertInfo flex-evenly box-shadow">
      <p class="AlertDomText">This is an info alert — check it out!</p>
    </div>
    </div>

    <div class="AlertDomMainContainer">
      <div class="AlertDomContainer descriptionOne AlertSuccess flex-evenly box-shadow">
      <p class="AlertDomText">This is a success alert — check it out!</p>
    </div>
    </div>

    </div>



<div class="DOMContainer flex-row-center doc-ContainerMain">
<div class="ImageDomContainer TypoHtag AlertInfo ImageWarning flex-column-start box-shadow">
<div class="doc-Container">
<pre><code class="language-markup line-numbers">
&lt;div class="ToastDomMainContainer"&gt;
&lt;div class="AlertDomContainer descriptionOne AlertSuccess flex-evenly box-shadow"&gt;
&lt;i class="material-icons"&gt;check_circle&lt;/i&gt;
&lt;p class="AlertDomText"&gt;This is a success alert — check it out!&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
</code></pre>

</div>
</div>
</div>

</div>

  
</div>

<script src="../scripts/icons.js"></script>
<script src="../scripts/prism.js"></script>
</body>
</html>
