<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
  
  <!---------------------------------Typography Component --------------------------------->

  <div class="TypographyMainContainer padding-MainContainer">

    <div class="TypographyContainerOne">
      <h1 class="h1Tag">Typography</h1>
      <p class="descriptionOne discriptionText ">Typography plugin provides a set of prose classes you can use to add beautiful typographic defaults to any vanilla HTML you don’t control, like HTML rendered from Markdown, or pulled from a CMS.
      </div>
  
    <div class="TypographyContainerTwo">
      <h3 class="h3Tag">Headings</h3>
      <p class="descriptionOne discriptionText">Headings are used as the titles of each major section of a page in the interface. For example, templates generally use headings as their title..</p>
  
      <div class="DOMContainer flex-row-center">

        <div class="TypographyDomMainContainer">
          <div class="TypographyDomContainer TypoHtag TypographyError flex-column-start box-shadow">
            <h1>Typography </h1>
            <h2>Typography </h2>
            <h3>Typography </h3>
            <h4>Typography </h4>
            <h5>Typography </h5>
            <h6>Typography </h6>
        </div>
      </div>
      
      </div>

      
      <div class="DOMContainer flex-row-center doc-ContainerMain">
      <div class="TypographyDomContainer TypoHtag AlertInfo TypographyWarning flex-column-start box-shadow">
      <div class="doc-Container">
        <pre><code class="language-markup line-numbers">
          &lt;h1&gt;Typography&lt;/h1&gt;
          &lt;h2&gt;Typography&lt;/h2&gt;
          &lt;h3&gt;Typography&lt;/h3&gt;
          &lt;h4&gt;Typography&lt;/h4&gt;
          &lt;h5&gt;Typography&lt;/h5&gt;
          &lt;h6&gt;Typography&lt;/h6&gt;

          </code></pre>
   
      </div>
    </div>
  </div>

</div>


<div class="TypographyContainerTwo">
  <h3 class="h3Tag">Small, Gray and Center Texts</h3>
  <p class="descriptionOne discriptionText">We use Small, Gray and Center text description section of a page in the interface.</p>



  <div class="DOMContainer flex-row-center">
  <div class="TypographyDomMainContainer">
    <div class="TypographyDomContainer TypoHtag TypographyWarning flex-column-start box-shadow">

      <div class="TypographyDomContainer TypoHtag AlertInfo TypographyWarning flex-column-start box-shadow">
        <h4>Add class in Htags</h4>
        <h6 class="fs-rem-xs">Small Texts</h6>
        <h6 class="">text-gray</h5>
        <h6 class="">text-center</h6>

      </div>

      <h4 class="text-gray">lorem ipsum dolor sit amet</h4>

      <h4 class="text-center">lorem center</h4>

  </div>
  </div>

  </div>

  
  <div class="DOMContainer flex-row-center doc-ContainerMain">
  <div class="TypographyDomContainer TypoHtag AlertInfo TypographyWarning flex-column-start box-shadow">
  <div class="doc-Container">
    <pre><code class="language-markup line-numbers">
      &lt;h6 class="fs-rem-xs"&gt;Small Texts&lt;/h6&gt;
      &lt;h4 class="text-gray"&gt;lorem ipsum dolor sit amet&lt;/h4&gt;
      &lt;h4 class="text-center"&gt;lorem center&lt;/h4&gt;

      </code></pre>

  </div>
</div>
</div>

</div>


</div>

<script src="../scripts/icons.js"></script>
<script src="../scripts/prism.js"></script>


</body>
</html>